!color = #000
!background_color = #fff

body
  background-image: none
  font-family: Verdana, Helvetica, sans-serif


h1, h2, h3, h4
  font-size: 100%
  margin: 0
  padding: 0
  font-weight: inherit
  text-shadow: none

a:link, a:visited
  text-decoration: underline
  color: #4a4a4a


#slide0 h1
  color: #a00
  background-color: transparent
  padding-left: 0


.slide
  h1
    position: absolute
    top: 0.6em
    left: 1em
    z-index: 1
    margin: 0
    padding: 0
    white-space: nowrap
    font: bold 150%
    text-transform: capitalize
    color = !background_color
    background-color: transparent
    text-transform: none

  h3
    font-size: 80%
    text-align: center

  ul
    margin-left: 3%

  p
    margin-left: 0%
    margin-right: 7%

  img
    display: block
    margin: 10px auto
    max-height: 13em

  .current
    color = !color

#footer
  h1
    display: block
    padding: 0 1em

  h2
    display: block
    padding: 0 1em
    font-style: italic

div
  &#header
    background = "#{!color} url('lautfm_logo.png') no-repeat top right"

  &#footer
    font-size: 0.5em
    font-weight: bold
    padding: 1em 0
    color = !background_color
    background-color = !color
    h1, h2
      margin: 0
      padding: 0.2em 1em
      line-height: 1.2em
    a
      color: #aab

  &#controls
    position: absolute
    left: 60%
    bottom: 0
    width: 40%
    text-align: right
    font: bold 0.9em Verdana, Helvetica, sans-serif

html>body div#controls
  position: fixed
  padding: 0
  top: auto

#controls
  #navLinks a
    padding: 0
    margin: 0 0.5em
    border: none
    color: #aab
    background: transparent
    cursor: pointer

  #navList #jumplist
    background: #DDD
    color: #227

#currentSlide
  text-align: center
  font-size: 0.5em
  color: #449

div#logo
  right: 20px
  position: absolute
  width: 240px
  height: 60px
  background: url('com_logo.png') no-repeat 20px 10px

// .incremental, .incremental *, .incremental *:after
// .incremental
//   visibility: hidden

ul
  margin-bottom: 1em
